<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not Found</PageTitle>
        <p role="alert">Sorry, page was not found.</p>
        <p role="alert">Please try the command-line version instead.</p>
    </NotFound>
</Router>
